{% extends "main.html" %} {% block title %} Home | Organic Store {% endblock title %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Elevate Your Health with Nature's Bounty</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
        Welcome to Organic Store, where we believe in harnessing the power of nature to nourish your body and soul. Step into a world where every product is carefully curated to ensure it's not just organic, but a testament to the purity and goodness of Mother Earth herself.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="{% url "products" %}" type="button" class="btn btn-success btn-lg px-4 gap-3">
        Shop Now <i class="fa-solid fa-bag-shopping"></i>
      </a>
    </div>
  </div>
</div>
{% endblock content %}
