<nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{% url 'products' %}" class="nav-link link-body-emphasis px-2">Products</a></li>
        <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link link-body-emphasis px-2">Contact</a></li>
        {% if request.user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'cart' %}" class="nav-link link-body-emphasis px-2">Cart(0)</i></a></li>
        <li class="nav-item"><a href="{% url 'orders' %}" class="nav-link link-body-emphasis px-2">Orders</a></li>
        {% endif %}
      </ul>
      {% if request.user.is_authenticated %}
      <ul class="nav">
        <li class="nav-item"><a href="{% url 'logout' %}" class="btn btn-danger btn-sm px-2">Logout</a></li>
      </ul>
      {% else %}
      <ul class="nav">
        <li class="nav-item"><a href="{% url 'login' %}" class="btn btn-secondary btn-sm px-2">Login</a></li>
        <li class="nav-item"><a href="{% url 'register' %}" class="btn btn-outline-success btn-sm ms-2 px-2">Sign up</a></li>
      </ul>
      {% endif %}
    </div>
  </nav>

  <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">Gadget Galaxy</span>
      </a>
      <form action="{% url "search" %}" class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
        <input name="search_query" type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </div>
  </header>