{% extends "admins/admin_base.html" %}
{% block title %}Orders{% endblock title %}
{% block admin-content %}
<div class="container mx-auto">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1>Orders</h1>
      </div>
    </div>
  </div>
  
  <table class=" table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Order By</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Total</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in payments %}
      <tr>
        <td class="align-middle">{{ payment.user.full_name }}</td>
        <td class="align-middle">{{ payment.created_at }}</td>
        <td class="align-middle">{{ payment.status }}</td>
        <td class="align-middle">{{payment.amount}}</td>
        <td class="align-middle">
            <a href="" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url "edit-order" payment.id%}" class="btn btn-secondary btn-sm">Details</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock admin-content %}